<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://PER-JAYWAY/ServiceBusDefaultNamespace;StsEndpoint=https://PER-JAYWAY:9355/ServiceBusDefaultNamespace;RuntimePort=9354;ManagementPort=9355" />
  </appSettings>
</configuration>